<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E'zeekart</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="Final Logo.jpg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="product-details.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->
<div style="margin: 10px; padding: 20px; background:rgba(10, 1, 1, 0.089)">
  <header style="width: 3%;">
    <a href="index.html">Home</a>
  </header>

</div>




  <main>
    <article>

     



      <!-- 
        - #PRODUCT DETAILS
      -->

      <section class="section product-details">
        <div class="container">

          <div class="wrapper">

            <div class="product-details-img">

              <figure class="product-display">
                <img src="product-details-1.png" width="700" height="700" loading="lazy"
                  alt="dell" class="w-100" data-product-display>
              </figure>

             

            </div>

            <div class="product-details-content">

              <h3 class="product-title">Dell Inspiron 5630 13th Gen Laptop</h3>

              <data class="product-price" >₹74,999</data>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <p class="product-text">
                Dell Inspiron 5630 13th Gen Laptop,
                 Intel Core i5-1340P Processor/16Gb LPDDR5/512GB /16.0" (40.64cm) FHD+ WVA AG 250 nits/Backlit KB + 
                 FPR/Windows 11+ MSO'21/McAfee 15 Months/Platinum Silver/1.85kg
              </p>

              <br>

              <div class="product-qty">
                <input type="number" name="quantity" value="1" min="1" max="50" class="product-qty-input">

                <button class="btn btn-primary product-qty-btn">Add To Cart</button>
              </div>
              <br>
            </div>

          </div>

          <h4 class="description-title">Descripton :</h4>

          <p class="description-text">
            Processor: Intel Core i5-1340P (up to 4.60 GHz, 12MB, 12 Cores)
            RAM: 16GB 4800MHz LPDDR5 Memory Onboard // Storage: 512GB SSD
            Software: Pre-Loaded Windows 11 Home with Lifetime Validity | MS Office Home and Student 2021 with lifetime validity| McAfee Multi-Device Security 15-month subscription
            Display: 16.0" FHD+ WVA AG with Comfort View Support 250 nits & Backlit Keyboard + Fingerprint Reader
            Ports: HDMI 1.4*, (1) Intel Thunderbolt 4.0, (2) USB 3.2 Gen 1 Type-A, SD card reader, (1) Universal Audio Jack // WiFi & Bluetooth: Intel Wi-Fi 6E (6GHz) AX211 2x2 Bluetooth 5.2 Wireless Card
            Features: Up-Firing Speakers -Send audio in your direction // Dell ComfortView & DC Dimming -Reduce harmful blue light emissions & optimize eye comfort // Connect Your Phone with Inspiron's Bluetooth Speaker -Stream content louder and clearer
            Dolby Atmos Spatial Audio - Hear your content as it was meant to be heard
            Aluminum Top Cover & Palmrest - Premium and durable look and feel
          </p>

          <h4 class="description-title">Reviews :</h4>

          <p class="description-text">
            Very nice built Quality
          </p>

        </div>
      </section>

    </article>
  </main>










  <!-- 
    - custom js link
  -->
  <!-- <script src="./assets/js/script.js"></script> -->

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>